@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
    --white: #ffffff;
    --black: #000000;
    --red: #ff2e1d;
    --yellow: #ffb737;
    --blue: #36a7d2;
    --gradient: linear-gradient(to bottom right, var(--red), var(--yellow), var(--blue));
}

/* Speedee font face */
@font-face {
    font-family: 'Speedee';
    src: url('fonts/Web/WOFF2/Speedee_W_Rg.woff2') format('woff2'),
        url('fonts/Web/WOFF/Speedee_W_Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Speedee';
    src: url('fonts/Web/WOFF2/Speedee_W_Bd.woff2') format('woff2'),
        url('fonts/Web/WOFF/Speedee_W_Bd.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Speedee';
    src: url('fonts/Web/WOFF2/Speedee_W_Lt.woff2') format('woff2'),
        url('fonts/Web/WOFF/Speedee_W_Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Speedee';
    src: url('fonts/Web/WOFF2/Speedee_W_It.woff2') format('woff2'),
        url('fonts/Web/WOFF/Speedee_W_It.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Speedee';
    src: url('fonts/Web/WOFF2/Speedee_W_BdIt.woff2') format('woff2'),
        url('fonts/Web/WOFF/Speedee_W_BdIt.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Speedee';
    src: url('fonts/Web/WOFF2/Speedee_W_LtIt.woff2') format('woff2'),
        url('fonts/Web/WOFF/Speedee_W_LtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

html, body {
    font-family: Speedee, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

html {
    background-color: var(--white);
}

header {
    color: var(--red);
    text-align: center;
    padding: 10px 0;
    font-size: 2em;
    font-weight: bolder;
}

p {
    max-width: 60%;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.navbar {
    background-color: var(--white);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav div {
    flex: 1;
    text-align: center;
}

nav a {
    color: var(--red);
    text-decoration: none;
    display: block;
    padding: 10px;
}

section {
    height: 100%;
    background-image: var(--gradient);
    padding: 5%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5em;
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

section.section-visible {
    opacity: 1;
    transform: translateX(0);
}


section.header {
    background-color: transparent;
    background-image: none;
    margin: 0;
}

section.header img {
    width: 50%;
}

section h1 {
    color: var(--white);
    font-size: 1.5em;
}

section#genitori h2 {
    color: var(--black);
    font-size: 1.5em;
}

.calcola {
    margin-top: 20px;
}

.calcola label {
    display: block;
    margin: 10px 0 5px;
}

.calcola input,
.calcola select {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

.calcola button {
    padding: 10px 15px;
    background-color: var(--white);
    color: var(--red);
    border: none;
    cursor: pointer;
}

.calcola button:hover {
    background-color: var(--blue);
}

#total-price {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

div.costi,
div.orari,
div.contatti {
    display: flex;
}

div.contatti {
    width: 100%;
    justify-content: space-evenly;
}

div.giordano-bruno,
div.marengo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.genitori {
    display: flex;
    flex-direction: column;
}

div.menu-wrapper {
    aspect-ratio: 1 / 1;
    width: 100%;
}

div.salato,
div.dolce {
    display: none;
    width: 100%;
    height: 100%;
}

div.salato.active {
    display: flex;
    flex-direction: column;
}

div.salato > img {
    max-width: 100%;
    max-height: 50%;
}

div.dolce.active {
    display: flex;
    flex-direction: column;
    background-image: url(assets/menu_dolce.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

div.dolce.active > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding: 0;
}

div.dolce.active li:first-child {
    align-self: end;
}

div.dolce.active li:second-child {
    align-self: start;
}

div.dolce.active li {
    background-color: var(--red);
    color: var(--white);
    border-radius: 20px;
    width: 30%;
    text-align: center;
    padding: 1.5em;
    font-size: 1.5em;
}

ul.costi li:first-child,
ul.base li:first-child,
ul.happy li:first-child {
    font-weight: bold;
    list-style-type: none;
    padding-left: 0;
}

div.temi-selector,
div.menu-selector {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

div.temi-selector > button,
div.menu-selector > button {
    border-radius: 1em;
    border: 0;
    padding: 1em;
    background-color: #ffffff44;
    color: var(--black);
    box-shadow: 5px 5px 5px #666;
    margin-bottom: 10px;
}

div.temi-selector > button:active,
div.menu-selector > button:active {
    box-shadow: 3px 3px #666;
    transform: translateY(4px);
    background-color: transparent;
}

div.temi-wrapper {
    width: 50%;
    aspect-ratio: 4 / 3;
    background-image: url(sfondo/tavolo_festa_mini.JPG);
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.tema {
    display: none;
    width: 100%;
    height: 100%;
}

div.tema.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: none;
    color: var(--white);
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

/* footer {
    background-color: var(--blue);
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer p {
    margin: 5px 0;
} */

#contatti a {
    text-decoration: underline;
    color: var(--black);
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
        margin: 0 20px;
        cursor: pointer;
        z-index: 1001;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    }

    div.navbar {
        background-color: transparent;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    nav.active {
        display: flex;
        background-color: var(--white);
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    section {
        padding: 10px;
        margin: .5em;
        border-radius: 1em;
        background-image: none;
    }

    section:nth-of-type(3n+1) {
        background-color: var(--yellow);
    }

    section:nth-of-type(3n+2) {
        background-color: var(--red);
    }

    section:nth-of-type(3n+3) {
        background-color: var(--blue);
    }

    section.header {
        background-image: none;
        background-color: transparent;
    }

    section.header img {
        width: 100%;
    }

    div.dolce.active li {
        font-size: 1em;
    }

    .costi li, .info li {
        font-size: 1em;
    }

    div.temi-wrapper {
        padding: 5%;
        aspect-ratio: 16 / 9;
        width: 80%;
    }

    div.tema {
        font-size: 1em;
    }

    div.orari {
        display: block;
    }

    div.contatti {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.5em;
    }

    nav a {
        padding: 8px;
    }

    .costi li, .info li {
        font-size: 0.9em;
    }

    div.dolce.active li {
        font-size: 0.7em;
    }

    /* footer p {
        font-size: 0.8em;
    } */
}

/* change color based on OS dark mode */
@media (prefers-color-scheme: dark) {
    html,
    header,
    div.navbar,
    div.hamburger,
    nav.active,
    nav,
    nav a,
    div.calcola button {
        background-color: var(--black);
        color: var(--white);
    }

    html {
        background-color: var(--black);
    }
}
